#j_loading{
    background-color:#FFF;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:10;}
#j_loading img{
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-40px;
    margin-top:-40px;}
#j_overlay{
    z-index:3;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);}
#j_overlay > div{
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: #FFF;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
}
.increase:hover{
    transform:scale(1.3,1.3);
    -moz-transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3);
    -o-transform:scale(1.3,1.3);
    -webkit-transform:scale(1.3,1.3);
    transition-duration:0.5s;
    -moz-transition-duration:0.5s;
    -ms-transition-duration:0.5s;
    -o-transition-duration:0.5s;
    -webkit-transition-duration:0.5s;
    transition-delay:0.5s;
    -moz-transition-delay:0.5s;
    -ms-transition-delay:0.5s;
    -o-transition-delay:0.5s;
    -webkit-transition-delay:0.5s;
    z-index:9 !important;}
.a-box{
    font-weight: normal;
    text-align: left;
    padding: 2px 7px;
    background-color: @bg2x2@;
    background-image: @gd2x1@;
    border:groove 2px @bg2x1@;
    border-radius: 0.8em;
    color: @tx2x1@;}
.a-box:hover{
    background-color: @bg1x2@;
    background-image: @gd1x1@;
    border:groove 2px @bg1x1@;
    color: @tx1x1@;}
.a-box-2{
    font-weight: normal;
    text-align: left;
    padding: 2px 7px;
    background-color: @bg1x2@;
    background-image: @gd1x1@;
    border:groove 2px @bg1x1@;
    border-radius: 0.8em;
    color: @tx1x1@;}
.a-box-2:hover{
    background-color: @bg1x1@;
    background-image: @gd1x2@;}

.a-active{
    background-image: @gd2x1@;
    border:groove 2px @bg2x1@;}
.a-active:hover{
    background-image: @gd2x2@;}
.h-form{
    height: 34em;
}
.h-form2{
    height: 26.5em;
}