/*Efeitos*/
.opacity-s{opacity: 0.8;}
.opacity{opacity: 0.5;}
.opacity-b{opacity: 0.2;}
.tx-shadow-s{text-shadow:1px 1px 1px rgba(0,0,0,0.5);}
.tx-shadow{text-shadow:0 0 3px rgba(0,0,0,0.5);}
.tx-shadow-b{text-shadow:1px 1px 2px rgba(0,0,0,0.5);}
.bx-shadow-s{box-shadow: 0 0 5px rgba(0,0,0,0.5);}
.bx-shadow{box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.bx-shadow-i{box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;}
.bx-shadow-b{box-shadow: 4px 4px 10px rgba(0,0,0,0.5);}
.bx-radius-s{border-radius: 0.8em;}
.bx-radius{border-radius: 1em;}
.bx-radius-b{border-radius: 1.2em;}
.bx-ball{border-radius: 50%;}

/*Formatação de texto*/
.al-right{text-align: right;}
.al-left{text-align: left;}
.al-center{text-align: center !important;}
.al-justify{text-align: justify;}
.al-top{vertical-align: top;}
.al-bottom{vertical-align: bottom;}
.tx-normal{font-weight: normal;}
.tx-bold{font-weight: bold;}
.tx-italic{font-style: italic;}
.tx-indent{text-indent: 1em;}
.tx-versalete{font-variant: small-caps;}
.tx-0{font-size: 0;}
.tx-1{font-size: 1.7em;}
.tx-2{font-size: 1.6em;}
.tx-3{font-size: 1.5em;}
.tx-4{font-size: 1.4em;}
.tx-5{font-size: 1.3em;}
.tx-6{font-size: 1.2em;}
.tx-7{font-size: 0.9em;}
.tx-8{font-size: 0.8em;}

/*Paddings e Margins*/
.p-s{padding: 7px 4px;}
.p{padding: 10px 7px;}
.p-b{padding: 13px 10px;}
.p-equal-s{padding: 7px;}
.p-equal{padding: 10px;}
.p-equal-b{padding: 13px;}
.p-both-s{padding-top: 4px; padding-bottom: 4px;}
.p-both{padding-top: 7px; padding-bottom: 7px;}
.p-both-b{padding-top: 13px; padding-bottom: 13px;}
.p-side-s{padding-left: 4px; padding-right: 4px;}
.p-side{padding-left: 7px; padding-right: 7px;}
.p-side-b{padding-left: 13px; padding-right: 13px;}
.p-top-s{padding-top: 4px;}
.p-top{padding-top: 7px;}
.p-top-b{padding-top: 13px;}
.p-bottom-s{padding-bottom: 4px;}
.p-bottom{padding-bottom: 7px;}
.p-bottom-b{padding-bottom: 13px;}
.p-left-s{padding-left: 4px;}
.p-left{padding-left: 7px;}
.p-left-b{padding-left: 13px;}
.p-right-s{padding-right: 4px;}
.p-right{padding-right: 7px;}
.p-right-b{padding-right: 13px;}
.no-p{padding: 0;}
.no-p-side{padding-left: 0; padding-right: 0;}
.no-p-both{padding-top: 0; padding-bottom: 0;}
.no-p-top{padding-top: 0;}
.no-p-bottom{padding-bottom: 0;}
.no-p-left{padding-left: 0;}
.no-p-right{padding-right: 0;}

.m{margin: 10px 7px;}
.m-both-s{margin-top: 10px; margin-bottom: 10px;}
.m-both{margin-top: 13px; margin-bottom: 13px;}
.m-both-b{margin-top: 15px; margin-bottom: 15px;}
.m-side{margin-left: 7px; margin-right: 7px;}
.m-top-s{margin-top: 10px;}
.m-top{margin-top: 13px;}
.m-top-b{margin-top: 15px;}
.m-bottom-s{margin-bottom: 10px;}
.m-bottom{margin-bottom: 13px;}
.m-bottom-b{margin-bottom: 15px;}
.m-left{margin-left: 7px;}
.m-right{margin-right: 7px;}

/*z-index, overflow, positions, clear e float*/
.abs{position: absolute;}
.stc{position: static;}
.fix{position: fixed;}
.top-s{top: 7px;}
.top{top: 0;}
.top-b{top: 15px;}
.bottom-s{bottom: 7px;}
.bottom{bottom: 0;}
.bottom-b{bottom: 15px;}
.left-s{left: 7px;}
.left{left: 0;}
.left-b{left: 15px;}
.right-s{right: 7px;}
.right{right: 0;}
.right-b{right: 15px}
.middle{top: 50%; left: 50%;}
.top-middle{top: 50%;}
.bottom-middle{bottom: 50%;}
.left-middle{left: 50%;}
.right-middle{right: 50%;}
.idx-1{z-index: 1;}
.idx-2{z-index: 2;}
.idx-3{z-index: 3;}
.idx-4{z-index: 4;}
.idx-5{z-index: 5;}
.idx-6{z-index: 6;}
.idx-7{z-index: 7;}
.idx-8{z-index: 8;}
.idx-9{z-index: 9;}
.flow-auto{overflow: auto;}
.flow-hidden{overflow: hidden;}
.flow-visible{overflow: visible;}
.dp-none{display: none;}
.dp-block{display: block;}
.dp-inline{display: inline;}
.dp-inblock{display: inline-block;}
.dp-table{display: table;}
.dp-cel{display: table-cell;}
.dp-row{display: table-row;}
.f-none{float: none;}
.f-left{float: left;}
.f-right{float: right;}
.c-left{clear: left;}
.c-right{clear: right;}
.pointer:hover{cursor: pointer;}
.fig-left{ float:left; margin-right:13px;}
.fig-right{ float:right; margin-left:13px;}


/*Menus*/
.mn-horizontal, .mn-vertical, 
.mn-horizontal ul, .mn-vertical ul{
    list-style:none;}
.mn-horizontal li, .mn-vertical li{
    display:inline-block;
    margin-left: 0;
    text-align:inherit;}
.mn-horizontal li a{
    padding: 2px 7px; 
    width:100%; 
    text-align:inherit;}
.mn-horizontal div{
    position:absolute;
    top: 20px; 
    left:0; 
    width:10em; 
    visibility:hidden;
    z-index: 9;}
.mn-horizontal div ul{
    box-shadow:0 0 5px rgba(0,0,0,0.5);
    margin-top:0.7em; 
    padding:0.4em 0;}
.mn-horizontal div ul, .mn-horizontal div li{
    width:100%;}
.mn-horizontal div div{
    position:absolute;
    top:-0.4em;
    width:inherit;
    left:94%;
    visibility:hidden !important;
    z-index: 9;}
.mn-horizontal div a{
    padding:3px 10px;}
.mn-horizontal div ul li div ul{
    margin-top:0;}
.mn-horizontal li:hover div{
    visibility:visible;}
.mn-horizontal div li:hover div{
    visibility:visible !important;}
.mn-vertical{
    padding:0.4em 0;}
.mn-vertical li{
    width:100%;}
.mn-vertical li a{
    padding: 2px 7px; 
    width:100%;
    text-align:inherit;}
.mn-vertical div{
    position:absolute;
    top:-0.4em;
    left:94%;
    width:10em;
    visibility:hidden;
    z-index: 9;}
.mn-vertical div ul{
    box-shadow:0 0 5px rgba(0,0,0,0.5); 
    padding:0.4em 0;}
.mn-vertical div ul, .mn-horizontal div li{
    width:100%;}
.mn-vertical div div{
    position:absolute;
    top:-0.4em;
    width:inherit;
    left:95%;
    visibility:hidden !important;
    z-index: 9;}
.mn-vertical div ul li div ul{
    margin-top:0;}
.mn-vertical li:hover div{
    visibility:visible;}
.mn-vertical div li:hover div{
    visibility:visible !important;}

/*palete*/
.tx-red{color:@red@ !important;}
.tx-orange{color:@orange@ !important;}
.tx-blue{color:@blue@ !important;}
.tx-cyan{color:@cyan@ !important;}
.tx-green{color:@green@ !important;}
.tx-yellow{color:@yellow@ !important;}
.tx-violet{color:@violet@ !important;}
.tx-brown{color:@brown@ !important;}
.tx-gray{color:#CCC !important;}
.tx-black{color:#000 !important;}
.tx-white{color:#FFF !important;}
.tx-light-red{color:@light-red@ !important;}
.tx-light-orange{color:@light-orange@ !important;}
.tx-light-blue{color:@light-blue@ !important;}
.tx-light-cyan{color:@light-cyan@ !important;}
.tx-light-green{color:@light-green@ !important;}
.tx-light-yellow{color:@light-yellow@ !important;}
.tx-light-violet{color:@light-violet@ !important;}
.tx-light-brown{color:@light-brown@ !important;}
.tx-light-gray{color:#EEE !important;}
.bg-red{background-color: @red@ !important;}
.bg-orange{background-color: @orange@ !important;}
.bg-blue{background-color: @blue@ !important;}
.bg-cyan{background-color: @cyan@ !important;}
.bg-green{background-color: @green@ !important;}
.bg-yellow{background-color: @yellow@ !important;}
.bg-violet{background-color: @violet@ !important;}
.bg-brown{background-color: @brown@ !important;}
.bg-gray{background-color: #CCC !important;}
.bg-black{background-color:#000 !important;}
.bg-white{background-color:#FFF !important;}
.bg-light-red{background-color:@light-red@ !important;}
.bg-light-orange{background-color:@light-orange@ !important;}
.bg-light-blue{background-color:@light-blue@ !important;}
.bg-light-cyan{background-color:@light-cyan@ !important;}
.bg-light-green{background-color:@light-green@ !important;}
.bg-light-yellow{background-color:@light-yellow@ !important;}
.bg-light-violet{background-color:@light-violet@ !important;}
.bg-light-brown{background-color:@light-brown@ !important;}
.bg-light-gray{background-color:#EEE !important;}
.bg-alpha{background-color: transparent !important;;}
.bg-alpha-red{background-color:@alpha-red@ !important;}
.bg-alpha-orange{background-color:@alpha-orange@ !important;}
.bg-alpha-blue{background-color:@alpha-blue@ !important;}
.bg-alpha-cyan{background-color:@alpha-cyan@ !important;}
.bg-alpha-green{background-color:@alpha-green@ !important;}
.bg-alpha-yellow{background-color:@alpha-yellow@ !important;}
.bg-alpha-violet{background-color:@alpha-violet@ !important;}
.bg-alpha-brown{background-color:@alpha-brown@ !important;}
.bg-alpha-gray{background-color:rgba(153,153,153,0.5) !important;}
.bg-alpha-black{background-color:rgba(0,0,0,0.5) !important;}
.bg-alpha-white{background-color:rgba(255,255,255,0.5) !important;}
/*Bordas*/
.bdr{border:solid 1px #EEE !important;}
.bdr-left{border-left:solid 1px #EEE !important;}
.bdr-right{border-right:solid 1px #EEE !important;}
.bdr-bottom{border-bottom:solid 1px #EEE !important;}
.bdr-top{border-top:solid 1px #EEE !important;}
.bdr-black{border:solid 1px #000 !important;}
.bdr-left-black{border-left:solid 1px #000 !important;}
.bdr-right-black{border-right:solid 1px #000 !important;}
.bdr-bottom-black{border-bottom:solid 1px #000 !important;}
.bdr-top-black{border-top:solid 1px #000 !important;}
.bdr-white{border:solid 1px #FFF !important;}
.bdr-left-white{border-left:solid 1px #FFF !important;}
.bdr-right-white{border-right:solid 1px #FFF !important;}
.bdr-bottom-white{border-bottom:solid 1px #FFF !important;}
.bdr-top-white{border-top:solid 1px #FFF !important;}
.bdr-red{border:solid 1px @red@ !important;}
.bdr-left-red{border-left:solid 1px @red@ !important;}
.bdr-right-red{border-right:solid 1px @red@ !important;}
.bdr-bottom-red{border-bottom:solid 1px @red@ !important;}
.bdr-top-red{border-top:solid 1px @red@ !important;}
.bdr-orange{border:solid 1px @orange@ !important;}
.bdr-left-orange{ border-left:solid 1px @orange@ !important;}
.bdr-right-orange{border-right:solid 1px @orange@ !important;}
.bdr-bottom-orange{border-bottom:solid 1px @orange@ !important;}
.bdr-top-orange{border-top:solid 1px @orange@ !important;}
.bdr-blue{border:solid 1px @blue@ !important;}
.bdr-left-blue{border-left:solid 1px @blue@ !important;}
.bdr-right-blue{border-right:solid 1px @blue@ !important;}
.bdr-bottom-blue{ border-bottom:solid 1px @blue@ !important;}
.bdr-top-blue{border-top:solid 1px @blue@ !important;}
.bdr-cyan{border:solid 1px @cyan@ !important;}
.bdr-left-cyan{border-left:solid 1px @cyan@ !important;}
.bdr-right-cyan{border-right:solid 1px @cyan@ !important;}
.bdr-bottom-cyan{ border-bottom:solid 1px @cyan@ !important;}
.bdr-top-cyan{border-top:solid 1px @cyan@ !important;}
.bdr-green{border:solid 1px @green@ !important;}
.bdr-left-green{border-left:solid 1px @green@ !important;}
.bdr-right-green{border-right:solid 1px @green@ !important;}
.bdr-bottom-green{border-bottom:solid 1px @green@ !important;}
.bdr-top-green{border-top:solid 1px @green@ !important;}
.bdr-yellow{border:solid 1px @yellow@ !important;}
.bdr-left-yellow{border-left:solid 1px @yellow@ !important;}
.bdr-right-yellow{border-right:solid 1px @yellow@ !important;}
.bdr-bottom-yellow{border-bottom:solid 1px @yellow@ !important;}
.bdr-top-yellow{border-top:solid 1px @yellow@ !important;}
.bdr-violet{border:solid 1px @violet@ !important;}
.bdr-left-violet{border-left:solid 1px @violet@ !important;}
.bdr-right-violet{border-right:solid 1px @violet@ !important;}
.bdr-bottom-violet{border-bottom:solid 1px @violet@ !important;}
.bdr-top-violet{border-top:solid 1px @violet@ !important;}
.bdr-brown{border:solid 1px @brown@ !important;}
.bdr-left-brown{border-left:solid 1px @brown@ !important;}
.bdr-right-brown{border-right:solid 1px @brown@ !important;}
.bdr-bottom-brown{border-bottom:solid 1px @brown@ !important;}
.bdr-top-brown{border-top:solid 1px @brown@ !important;}
.bdr-groove{border-style:groove !important;border-width:2px !important;}
.bdr-groove-top{ border-top-style:groove !important;border-top-width:2px !important;}
.bdr-groove-left{border-left-style:groove !important;border-left-width:2px !important;}
.bdr-groove-right{border-right-style:groove !important;border-right-width:2px !important;}
.bdr-groove-bottom{ border-bottom-style:groove !important;border-bottom-width:2px !important;}
.bdr-dashed{border-style:dashed !important;} 
.bdr-dashed-top{ border-top-style:dashed !important;}
.bdr-dashed-bottom{ border-bottom-style:dashed !important;}
.bdr-dashed-right{border-right-style:dashed !important;}
.bdr-dashed-left{border-left-style:dashed !important;}
.bdr-none{border: none !important;}