@charset "utf-8";
/*Reset*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;}
html{
    overflow: auto;
    font-size: 62.5%;}
body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    background: #009900;
    overflow: hidden;}
a, b, strong, input[type="button"], .summary,
input[type="submit"], input[type="reset"], dl, button{
    font-weight: bold;}
h1, h2, h3, h4, h5, h6{
    color: @main_color@;}
h1{ font-size: 1.9em;  font-weight: 900;}
h2{ font-size: 1.7em;  font-weight: 800;}
h3{ font-size: 1.5em;  font-weight: 700;}
h4{ font-size: 1.45em; font-weight: 500;}
h5{ font-size: 1.4em;  font-weight: 400;}
h6{ font-size: 1.3em;  font-weight: 300;}
hr{ top: -2px;
    color: #CCC;
    border-top: 2px groove #EEE;
    border-left: none;
    border-right: none;
    border-bottom: none;}
small{
    font-size: 0.8em;}
sup{top: -0.8em;}
sub{bottom: -0.8em;}
big{font-size: 1.2em;}
p{  text-indent: 0.8em;}
a{  text-decoration:none;
    color: @main_color@;}
a:hover{
    color: @realce_color@;}
a img{
    border: none;
}
table{
    border-collapse: separate; 
    border-spacing: 1px;}
fieldset{
    padding: 10px 7px; 
    border: 2px groove #EEE;}
legend{
    font-style: italic; 
    color: @main_color@; 
    font-size: 1.2em; 
    font-variant: small-caps; 
    padding: 3px 4px;}
input, select, textarea, button{
    padding: 3px 4px;
    border: solid 1px @realce_color@;
    background: #EEE;
    color: inherit;
    text-align: inherit;}
input[type="button"], input[type="submit"], input[type="reset"]{
    padding: 2px 4px;
    background: @realce_color@;
    border: solid 1px @realce_color@;
    color: #FFF;
    cursor: pointer;}
figure{
    overflow: hidden;
    width: auto;
    max-width: 100%;}
figure img{
    float: left;}
figcaption{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 4px 7px;
    color: #FFF;
    z-index: 2;}
ul{ list-style: outside;}
ol{ list-style: decimal-leading-zero outside;}
li, dd{ margin-left: 1em;}
section, article, aside, nav, header, footer, figure, figcaption, mark, iframe,
div, span, a, input, button, select, textarea, label, form, fieldset{
    display:inline-block;}
article section, article div, aside section, 
aside div, nav section, nav div, header section, 
header div, footer section, footer div{
    text-align: left;} 


/*Grid*/
main{
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 1184px;
    max-width: 1368px;}
div.j_module{
    padding: 0;
    text-align: center;
    float: left;}
article, aside, nav, header, footer, form{
    padding: 10px 7px;
    background: #EEE;}

article, aside, .height{
    min-height: 40em;}
@media (min-height: 36em) AND (max-height: 38em){
    article, aside, .height{
        min-height: 36.5em;}
}
@media (min-height: 0) AND (max-height: 36em){
    article, aside, .height{
        min-height: 33.5em;}
}



section, figcaption, article, aside, nav, header, footer, form, fieldset,
div, table, td input, td select, td textarea, td button, td label, iframe{
    width:100%;}
section{
    padding: 10px 7px;
    background-color: inherit;}
div{
    background-color: inherit;}
/*7 Grades e 7 Semi Grades*/
.grid,     .grid11x1, .grid11x2, .grid11x3, .grid11x4,
.grid11x5, .grid11x6, .grid11x7, .grid11x8, .grid11x9, .grid11x10, 
.grid10x1, .grid10x2, .grid10x3, .grid10x4, .grid10x5, .grid10x6,
.grid10x7, .grid10x8, .grid10x9, .grid9x1,  .grid9x2,  .grid9x3,  .grid9x4, 
.grid9x5,  .grid9x6,  .grid9x7,  .grid9x8,  .grid8x1,  .grid8x2,  .grid8x3, 
.grid8x4,  .grid8x5,  .grid8x6,  .grid8x7,  .grid7x1,  .grid7x2,  .grid7x3, 
.grid7x4,  .grid7x5,  .grid7x6,  .grid6x1,  .grid6x2,  .grid6x3,  .grid6x4,
.grid6x5,  .grid5x1,  .grid5x2,  .grid5x3,  .grid5x4{
    float: left;
    padding: 0;}
/*Grid 5*/
.grid5x1, .w-5x1    { width:20%;    } .grid5x2,  .w-5x2    { width:40%;    }
.grid5x3, .w-5x3    { width:60%;    } .grid5x4,  .w-5x4    { width:80%;    }
/*Grid 6*/
.grid6x1, .w-6x1    { width:16.666%;} .grid6x2,  .w-6x2    { width:33.333%;}
.grid6x3, .w-6x3    { width:50%;    } .grid6x4,  .w-6x4    { width:66.666%;}
.grid6x5, .w-6x5    { width:83.333%;}
/*Grid 7*/
.grid7x1, .w-7x1    { width:14.285%;} .grid7x2,  .w-7x2    { width:28.571%;}
.grid7x3, .w-7x3    { width:42.857%;} .grid7x4,  .w-7x4    { width:57.142%;}
.grid7x5, .w-7x5    { width:71.428%;} .grid7x6,  .w-7x6    { width:85.714%;}
/*Grid 8*/
.grid8x1, .w-8x1    { width:12.5%;  } .grid8x2,  .w-8x2    { width:25%;    }
.grid8x3, .w-8x3    { width:37.5%;  } .grid8x4,  .w-8x4    { width:50%;    }
.grid8x5, .w-8x5    { width:62.5%;  } .grid8x6,  .w-8x6    { width:75%;    }
.grid8x7, .w-8x7    { width:87.5%;  }
/*Grid 9*/
.grid9x1, .w-9x1    { width:11.111%;} .grid9x2,  .w-9x2    { width:22.222%;}
.grid9x3, .w-9x3    { width:33.333%;} .grid9x4,  .w-9x4    { width:44.444%;}
.grid9x5, .w-9x5    { width:55.555%;} .grid9x6,  .w-9x6    { width:66.666%;}
.grid9x7, .w-9x7    { width:77.777%;} .grid9x8,  .w-9x8    { width:88.888%;}
/*Grid 10*/
.grid10x1{ width:10%;    } .grid10x2{ width:20%;    }
.grid10x3{ width:30%;    } .grid10x4{ width:40%;    }
.grid10x5{ width:50%;    } .grid10x6{ width:60%;    }
.grid10x7{ width:70%;    } .grid10x8{ width:80%;    }
.grid10x9{ width:90%;    }
/*Grid 11*/
.grid11x1 { width:9.09%;  } .grid11x2 { width:18.18%; }
.grid11x3 { width:27.27%; } .grid11x4 { width:36.36%; }
.grid11x5 { width:45.45%; } .grid11x6 { width:54.54%; }
.grid11x7 { width:63.63%; } .grid11x8 { width:72.72%; }
.grid11x9 { width:81.81%; } .grid11x10{ width:90.9%;  }

.grid, .full{
    width:100%;}
.fully{
    height:100%;}
.flex{
    width: auto;}
.label{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #CCC;
    padding: 4px 7px;
    font-size: 1em;
    font-variant: small-caps;}
.divider{
    font-weight: bold;
    width: 100%;
    background-color: inherit;}
.divider hr{
    top: 0.8em;}
.divider > div{
    width: auto;
    top:-0.15em;
    padding: 0 7px;
    color: @realce_color@;
    font-variant: small-caps;}
.details{
    width: 100%;}
.summary{
    display: inline-block;
    font-size: 1em;}
.summary:hover{
    cursor: pointer;}