<fieldset class='j_breaker_a'>
    <legend>Beneficiário</legend>
    <span class='w-15 tx-bold'>Cod. Beneficiário:</span><span class='j_break_a'>#id_beneficiario#</span>
    <span class='w-15 tx-bold'>Nº da DAP:</span><span class='j_break_a'>#n_da_dap_beneficiario#</span>
    <span class='w-15 tx-bold'>RB:</span><span class='j_break_a'>#rb_beneficiario#</span>
    <span class='w-15 tx-bold'>Data de Nascimento:</span><span class='j_break_a'>#dt_nascimento_beneficiario#</span>
    <span class='w-15 tx-bold'>CPF:</span><span class='j_break_a'>#cpf_beneficiario#</span>
    <span class='w-15 tx-bold'>RG:</span><span class='j_break_a'>#rg_beneficiario# / #org_exp_beneficiario#</span>

    <span class='w-15 tx-bold'>Telefone:</span><span class='j_break_a'>(#ddd_beneficiario#) #telefone_beneficiario#</span>
    <span class='w-15 tx-bold'>Tempo de Residência no P.A.:</span><span class='j_break_a'>#temp_res_beneficiario#</span>
</fieldset>


