<span class="fix idx-1 right-b al-center" style="bottom:3px;">
    
    <a id="j_open" class="al-center bx-ball bx-shadow-s pointer bg-light-gray tx-7 tx-normal p-b" style="width: 50px; height: 50px;">
        <img src="#IMG#beneficiario.png" class="full"><br>
        
    </a>
    <br>
    <span class="tx-white p-top-s">#titulo_beneficiario#</span>
</span>

<div id="j_overlay">
    <div class="p-b">
    <h1 class="j_break_a bdr-bottom-blue">#nome_beneficiario#</h1>
    <div class="flow-auto" style="height: 27em;">
        #beneficiario#
    </div>
        <a id="j_close" class="j_close abs bottom-b right-b">Fechar</a>
    </div>
</div>