<fieldset class='j_breaker_a'>
    <legend>Unidade de Produção Familiar</legend>
    <span class='w-15 tx-bold'>Denominação:</span><span class='j_break_a'>#denominacao_producao_familiar#</span>
    <span class='w-15 tx-bold'>Endereço:</span><span class='j_break_a'>#endereco_producao_familiar#</span>
    <span class='w-15 tx-bold'>Chácara:</span><span class='j_break_a'>#chacara_producao_familiar#</span>
</fieldset>


