<style>
    #chamada{
        font-size: 2em; 
        line-height: 2em; 
        height: 2em; 
        width: 2em;
    }
</style>


<article class="grid10x8">

    <div class="al-center grid p">
        <br>
        <br>
        <br>
        <span id="chamada" class="bx-ball bg-blue tx-bold tx-white">
            !
        </span>
        <br>
        <div class="al-center tx-1 tx-bold tx-blue">
            Acesso Restrito
        </div>
        <br>
        <br>
        <b>Prezado Usuário</b><br><br>Esta página está bloqueada para o seu acesso.
    </div>
    
</article>
