<tr #class#>
    <td>
        #id_usuario#
    </td>
    <td>
        #nome_usuario#
    </td>
    <td>
        #login_usuario#
    </td>
    <td>
        #funcao#
    </td>
    <td>
        #bloqueio#
    </td>
    <td>
        <a class="w-3" href="#SRC#usuario&id=#id_usuario#">
            <img src="#IMG#select.png">
        </a>
    </td>
    <td>
        <a class="w-3 abre_confirma" href="javascript:;" data-href="#SRC#usuario&selecionar&deletar=#id_usuario#">
            <img src="#IMG#delete.png">
        </a>
    </td>
</tr>