<script>
    $(function(){
        $("#confirma").hide();
        $(".abre_confirma").click(function(){
            var href = $(this).attr("data-href");
            $("#delete_confirma").attr("href", href);
            $("#confirma").fadeIn();
        });
        $("#fecha_confirma").click(function(){
            $("#confirma").fadeOut();
        });
    });
</script>

<div id="confirma" class="fix top left idx-9 bg-alpha-black full fully">
    <div class="bg-white abs middle" style="width: 500px; height: 300px; margin-top: -150px; margin-left: -250px;">
        <br>
        <br>
        <br>
        <h1 class="tx-black">Atenção</h1>
        <br>
        <span class="tx-red">Deseja realmente deletar este usuário,<br> caso este seja excluido,<br> todos os seus dados serão perdidos<br> e não será possível recuperá-los.</span><br>
        <br>
        <br>
        <a href="javascript:;" id="delete_confirma" class="p-s bg-red tx-white bx-radius-s">Sim</a>
        <a href="javascript:;" class="p-s bg-green tx-white bx-radius-s" id="fecha_confirma">Não</a>
    </div>
</div>

<form method="post" class="al-right bg-light-gray grid10x8 p-b p-bottom height">
    
    <div class="divider tx-normal tx-italic al-left tx-6">Selecionar Usuário</div>
    <select class='al-center' name="criterio" required>
        <option value="nome_usuario">Pesquisar por:</option>
        <option value="login_usuario">Login</option>
        <option value="nome_usuario">Nome</option>
    </select>
    <input type="search" name="pesquisa" class='al-center' placeholder="Escreva aqui." required>
    <input type="submit" value="Pesquisar">
        
    <div class="h-form2 flow-auto m-top-s al-center">
        <table class="full bg-gray">
            <thead class="bg-blue tx-white">
                <tr>
                    <th class="p-equal-s w-5">
                        <a class="tx-white" href="#SRC#usuario&selecionar&order=id_usuario#index##criterio##pesquisa#">Cod.</a>
                        <a class="tx-white" href="#SRC#usuario&selecionar&order=id_usuario&desc#index##criterio##pesquisa#">&#9660;</a>
                    </th>
                    <th class="p-equal-s">
                        <a class="tx-white" href="#SRC#usuario&selecionar&order=nome_usuario#index##criterio##pesquisa#">Nome</a>
                        <a class="tx-white" href="#SRC#usuario&selecionar&order=nome_usuario&desc#index##criterio##pesquisa#">&#9660;</a>
                    </th>
                    <th class="p-equal-s">
                        <a class="tx-white" href="#SRC#usuario&selecionar&order=login_usuario#index##criterio##pesquisa#">Login</a>
                        <a class="tx-white" href="#SRC#usuario&selecionar&order=login_usuario&desc#index##criterio##pesquisa#">&#9660;</a>
                    </th>
                    <th class="p-equal-s">
                        Função
                    </th>
                    <th class="p-equal-s w-6">
                        Status
                    </th>
                    <th class="p-equal-s w-6">
                        Selecionar
                    </th>
                    <th class="p-equal-s w-6">
                        Deletar
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white">
                #linhas#
            </tbody>
        </table>
    </div>

    <br>
    <span class="m-top-s">
        #paginator#
    </span>
</form>