<script>
    $(function(){
        $("#mensagem, #tip_senha, #tip_login").hide();
        function validaSenha(){
            var senha = $("#senha").val();
            var confirme = $("#confirme").val();

            if(senha == ''){
                $("#mensagem").show();
            }else if(confirme == ''){
                $("#mensagem").show();
            }else if(senha == confirme){
                $("#submit").attr("type", "submit");
                $("#mensagem").text("As senhas conferem.");
            }else if(senha != confirme){
                $("#submit").attr("type", "button");
                $("#mensagem").text("As senhas não conferem.");
            }
        }
        
        $("#nao").click(function(){
            $("#confirme").removeAttr("required");
            $("#senha").removeAttr("required");
        });
        $("#sim").click(function(){
            $("#confirme")[0].setAttribute("required", true);
            $("#senha")[0].setAttribute("required", true);
        });
        
        $("#confirme")
          .change(validaSenha);
  
        $("#senha")
          .change(validaSenha)
          .focus(function(){
            $("#tip_senha").fadeIn();
        }).blur(function(){
            $("#tip_senha").fadeOut();
        });
        
        $("#login")
          .focus(function(){
            $("#tip_login").fadeIn();
        }).blur(function(){
            $("#tip_login").fadeOut();
        });
        
        if($("#nao").is(":checked")){
            $("#confirme").removeAttr("required");
            $("#senha").removeAttr("required");
        }
    });
</script>
<form method="post" class="al-center grid10x8 p-b height">
    <div class="h-form flow-auto al-left">
        <div class="divider tx-normal tx-italic al-left tx-6">Usuário</div>
        #mensagem#
        <br>
        <input type="hidden" name="usuario[id_usuario]" value="#id_usuario#"/>
        <label class="w-12" for="nome">Nome: </label>
        <input required type="text" size="40" maxlength="40" name="usuario[nome_usuario]" value="#nome_usuario#" id="nome" /><br><br>

        <label class="w-12" for="cpf">CPF: </label>
        <input required type="text" size="40" name="usuario[cpf_usuario]" value="#cpf_usuario#" id="cpf" placeholder="Somente Números" maxlength="11" pattern="\d{11}"/><br><br>

        <label class="w-12" for="rg">RG: </label>
        <input required type="text" size="40" name="usuario[rg_usuario]" value="#rg_usuario#" id="rg" placeholder="Somente números" maxlength="11" pattern="\d*"/><br><br>

        <label class="w-12" for="telefone">Telefone: </label>
        <input required type="text" size="2" maxlength="2" name="usuario[ddd_usuario]" value="#ddd_usuario#" id="telefone" placeholder="ddd" pattern="\d*"/>
        <input required type="text" size="32" name="usuario[telefone_usuario]" value="#telefone_usuario#" placeholder="99999-9999" maxlength="10" pattern="[0-9]{4,5}-?[0-9]{4}$"><br><br>

        <label class="w-12" for="email">E-mail: </label>
        <input required type="email" size="40" maxlength="80" name="usuario[email_usuario]" value="#email_usuario#" id="email" /><br><br>

        <label class="w-12" for="funcao">Função no sistema: </label>
        <select required name="usuario[funcao_usuario]" id="funcao" style='width: 20.5em;'>
            <option value=''>Selecione</option>
            <option value='0' #0funcao_usuario#>Técnico</option>
            <option value='1' #1funcao_usuario#>Administrador</option>
        </select>
        <br><br>

        <span class="w-12">Ativo no sistema? </span>
        <label for="sim">Sim </label>
        <input required type="radio" name="usuario[status_usuario]" value="1" id="sim" #1status_usuario#/>
        <label for="nao">Não </label>
        <input required type="radio" name="usuario[status_usuario]" value="0" id="nao" #0status_usuario#/>
        <br><br>

        <label class="w-12" for="login">Login:</label>
        <input required type="text" size="40" maxlength="40" name="usuario[login_usuario]" value="#login_usuario#" id="login" pattern="\w{6,30}" #readonly#/>
        <span style="padding: 2px 8px;" id="tip_login" class="flex bx-radius-s bg-white tx-green">O login deve ter de 6 a 30 dígitos. <small>(Não é aceito dígitos especiais como 'ç' ou 'ã')</small></span><br><br>

        <label class="w-12" for="senha">Senha: </label>
        <input required type="password" size="40" maxlength="30" name="usuario[senha_usuario]" id="senha"  pattern="\w{6,30}"/>
        <span style="padding: 2px 8px;" id="tip_senha" class="flex bx-radius-s bg-white tx-green">A senha deve ter de 6 a 30 dígitos. <small>(Não é aceito dígitos especiais como 'ç' ou 'ã')</small></span><br><br>
        
        <label class="w-12" for="confirme">Confirme </label>
        <input required type="password" size="40" maxlength="30" id="confirme"/>
        <span style="padding: 2px 8px;" id="mensagem" class="flex bx-radius-s bg-white tx-green">Digite a senha novamente.</span>
        <br><br>

    </div>
    <input id="submit" type="submit" class='flex f-left m-top' name="#action#" value="#value#" />
</form>