<div id="j_loading">
    <img src="#IMG#load.gif" width="80">
</div>
<form id="j_post" class="dp-none" method="post" action="#SRC#index.php">
    <input type="text" name="" value="">
</form>


<header class="bg-white p-both-s no-p-side">
    <h1 class="tx-0">Cabeçalho</h1>
    <section class="no-p-side">

        <a href="#SRC#index.php">
            <img src="#IMG#logo/iaso.png" width="180" title="Iaso - Instituto Alvorada de Agroecologia de Sobradinho">
        </a>

       
        
    </section>
    <h3 class="abs middle h-2 dp-inblock" style="width: 20em; margin-top: -0.7em; margin-left: -10em;">Questionário Sócio Econômico</h3>
    <span class="abs top right light-yellow">
        <a href="javascript:;" id="j_small_lether" class="tx-8">A</a>
        <a href="javascript:;" id="j_medium_lether" class="tx-6">A</a>
        <a href="javascript:;" id="j_big_lether" class="tx-4">A</a>
    </span>
</header>