<meta   charset=    "utf-8">
<title>#title#</title>
<meta   http-equiv= "X-UA-Compatible"  content= "IE=edge">
<meta   name=       "robots"           content= "nofollow">
<meta   name=       "googlebot"        content= "nofollow">
<meta   name=       "viewport"         content= "#viewport#">
<link   rel=        "shortcut icon"    href=    "#IMG#iaso.png">
<link   rel=        "stylesheet"       href=    "#SRC#css/style.php">
<script src=        "#SRC#js/jquery-2.1.3.min.js" ></script>
<script src=        "#SRC#js/functions.js"></script>
<!--[if lt IE 9]><script src="#SRC#js/html5shiv-master/src/html5shiv.js"></script><![endif]-->  