<div id="j_loading">
    <img src="#IMG#load.gif" width="80">
</div>

<header class="bg-white p al-left">
    <h3 class="dp-inblock p-left">Questionário Sócio Econômico</h3>
    <span class="f-right flex m-left">
        <img src="#IMG#user.png" alt="usuário">
        <span class="m-right">#usuario# - <small class='tx-green'>#funcao#</small></span>
        <button id="exit" class="tx-8 a-box-2 bx-radius m-left m-right">Sair</button>
    </span>
    <span class="f-right flex m-right">
        <a href="javascript:;" id="j_small_lether" class="tx-8">A</a>
        <a href="javascript:;" id="j_medium_lether" class="tx-6">A</a>
        <a href="javascript:;" id="j_big_lether" class="tx-4">A</a>
    </span>
    
</header>