<tr #class#>
    <td data-remove>
        #id_beneficiario#
    </td>
    <td>
        #nome_beneficiario#
    </td>
    <td>
        #n_da_dap_beneficiario#
    </td>
    <td>
        #rb_beneficiario#
    </td>
    <td>
        #cpf_beneficiario#
    </td>
    <td data-remove>
        <a class="w-3" href="#SRC#selecionar&id=#id_beneficiario#">
            <img src="#IMG#select.png">
        </a>
    </td>
    <td data-remove>
        <a class="w-3 abre_confirma" href="javascript:;" data-href="#SRC#selecionar&deletar=#id_beneficiario#">
            <img src="#IMG#delete.png">
        </a>
    </td>
</tr>