<script>
    $(function(){
        $("#confirma").hide();
        $(".abre_confirma").click(function(){
            var href = $(this).attr("data-href");
            $("#delete_confirma").attr("href", href);
            $("#confirma").fadeIn();
        });
        $("#fecha_confirma").click(function(){
            $("#confirma").fadeOut();
        });
        $("#criterio").change(function(){
            if($(this).val() == "comercializacao"){
                $('#pesquisa').attr("list", "comercializacao");
            }else if($(this).val() == "fnc_exe_parc"){
                $('#pesquisa').attr("list", "fnc_exe_parc");
            }else if($(this).val() == "nucleo"){
                $('#pesquisa').attr("list", "nucleo");
            }else{
                $('#pesquisa').removeAttr("list", "");
            }
        });

        $("#print").click(function(){
            var inicial = $("body").html();
            var content = "<div class='p-b al-center'>" + $("#print_target").html() + "</div>";
            $("body").html(content);
            $("*[data-remove]").remove();
            window.print();
            $("body").html(inicial);
        });
    });
</script>

<div id="confirma" class="fix top left idx-9 bg-alpha-black full fully">
    <div class="bg-white abs middle" style="width: 500px; height: 300px; margin-top: -150px; margin-left: -250px;">
        <br>
        <br>
        <br>
        <h1 class="tx-black">Atenção</h1>
        <br>
        <span class="tx-red">Deseja realmente deletar este beneficiário,<br> caso este seja excluido,<br> todos os seus dados serão perdidos<br> e não será possível recuperá-los.</span><br>
        <br>
        <br>
        <a href="javascript:;" id="delete_confirma" class="p-s bg-red tx-white bx-radius-s">Sim</a>
        <a href="javascript:;" class="p-s bg-green tx-white bx-radius-s" id="fecha_confirma">Não</a>
    </div>
</div>

<form method="post" class="al-right bg-light-gray grid10x8 p-b p-bottom height">
    
    <div class="divider tx-normal tx-italic al-left tx-6">Selecionar Beneficiário</div>
    
    <a href="javascript:;" id="print" class='f-left'>
        <img src="#IMG#print.png" alt='Imprimir'>
        IMPRESSÃO
    </a>
    
    <select id="criterio" class='al-center' name="criterio" required>
        <option value="">Pesquisar por:</option>
        <option value="nome_beneficiario">Nome</option>
        <option value="cpf_beneficiario">CPF</option>
        <option value="rb_beneficiario">RB</option>
        <option value="nucleo">Núcleo</option>
        <option value="comercializacao">Comercialização</option>
        <option value="fnc_exe_parc">Função que exerce na parcela</option>
    </select>
    <input id="pesquisa" class='al-center' type="search" name="pesquisa" placeholder="Escreva aqui." required>
    <input type="submit" value="Pesquisar">
    
    <datalist id="comercializacao">
        <option value="Arroz">
        <option value="Milho">
        <option value="Feijão">
        <option value="Mandioca">
        <option value="Trigo">
        <option value="Cana de Açucar">
        <option value="Guandú">
        <option value="Gergelim">
        <option value="Amendoim">
        <option value="Galinhas">
        <option value="Galos">
        <option value="Frangos">
        <option value="Pintos">
        <option value="Bovinos">
        <option value="Equinos">
        <option value="Suínos">
        <option value="Ovinos">
        <option value="Caprinos">
    </datalist>
    
    <datalist id="fnc_exe_parc">
        <option value="Caprinocultura">
        <option value="Ovinocultura">
        <option value="Gado de Leite">
        <option value="Avicultura">
        <option value="Suinocultura">
        <option value="Equinocultura">
        <option value="Psicultura">
        <option value="Cunicultura">
        <option value="Ranicultura">
        <option value="Apicultura">
    </datalist>
    
    <datalist id="nucleo">
        <option value="Colinas do Sul">
        <option value="Cavalcante">
        <option value="Alto do Paraíso de Goiás">
        <option value="Flores de Goiás">
        <option value="Divinópolis de Goiás">
        <option value="São Domingos">
        <option value="Mata Grande">
        <option value="Sol Nascente">
    </datalist>
    
    <div id="print_target" class="h-form2 flow-auto m-top-s al-center">
        #resultados#
        <table class="full bg-gray">
            <thead class="bg-blue tx-white">
                <tr>
                    <th data-remove class="p-equal-s w-5">
                        <a class="tx-white" href="#SRC#beneficiario&selecionar&order=id_beneficiario#index##criterio##pesquisa#">Cod.</a>
                        <a class="tx-white" href="#SRC#beneficiario&selecionar&order=id_beneficiario&desc#index##criterio##pesquisa#">&#9660;</a>
                    </th>
                    <th class="p-equal-s">
                        <a class="tx-white" href="#SRC#beneficiario&selecionar&order=nome_beneficiario#index##criterio##pesquisa#">Nome</a>
                        <a class="tx-white" href="#SRC#beneficiario&selecionar&order=nome_beneficiario&desc#index##criterio##pesquisa#">&#9660;</a>
                    </th>
                    <th class="p-equal-s">
                        Nº da DAP
                    </th>
                    <th class="p-equal-s">
                        RB
                    </th>
                    <th class="p-equal-s">
                        CPF
                    </th>
                    <th data-remove class="p-equal-s w-6">
                        Selecionar
                    </th>
                    <th data-remove class="p-equal-s w-6">
                        Deletar
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white">
                #linhas#
            </tbody>
        </table>
    </div>

    <br>
    <span class="m-top-s">
        #paginator#
    </span>
</form>