<aside class="grid10x2 bdr-right p-left p-both">

    <div class="details p">
        
        <a class="summary #act-beneficiario# tx-black full m-bottom-s" href="javascript:;" title="Dados do Beneficiário" data-close #drop-beneficiario#>
            Dados do Beneficiário
        </a>

        <ul title="Dados do Beneficiário" class="m-bottom-s">
            <li>
                <a href="#SRC#&novo">Novo</a>
            </li>
            <li>
                <a href="#SRC#">Alterar</a>
            </li>
            <li>
                <a href="#SRC#selecionar">Selecionar</a>
            </li>
        </ul>
        
        <a class="#act-comp# tx-black full m-bottom-s"  href="#SRC#composicao_familiar">
            &#9658; Composição Familiar
        </a>
        
        <a class="summary #act-und-prod# tx-black full m-bottom-s" href="javascript:;" title="Unid. Produção Familiar" data-close #drop-und-prod#>
            Und. Produção Familiar
        </a>

        <ul title="Unid. Produção Familiar" class="m-bottom-s">
            <li>
                <a href="#SRC#dados_da_unidade_de_producao_familiar">Und. Produção Familiar</a>
            </li>
            <li>
                <a href="#SRC#terras">Terras</a>
            </li>
            <li>
                <a href="#SRC#benfeitorias">Benfeitorias</a>
            </li>
            <li>
                <a href="#SRC#maquinas_equipamentos_de_trabalho">Máquinas e Equipamentos</a>
            </li>
            <li>
                <a href="#SRC#semoventes">Semoventes</a>
            </li>
        </ul>
        
        <a class="summary #act-renda# tx-black full m-bottom-s" href="javascript:;" title="Renda Familiar" data-close #drop-renda#>
            Renda Familiar
        </a>

        <ul title="Renda Familiar" class="m-bottom-s">
            <li>
                <a href="#SRC#cultivo_agricola">Cultivo Agrícola</a>
            </li>
            <li>
                <a href="#SRC#fora_da_propriedade">Fora da Propriedade</a>
            </li>
            <li>
                <a href="#SRC#fora_da_agricultura">Fora da Agricultura</a>
            </li>
        </ul>

        <a class="#act-comercial# tx-black full m-bottom-s" href="#SRC#comercializacao">
            &#9658; Comercialização
        </a>
        <a class="#act-acesso# tx-black full m-bottom-s" href="#SRC#acesso_a_politicas_publicas">
            &#9658; Acesso a Políticas Públicas
        </a>
        <a class="#act-org# tx-black full m-bottom-s" href="#SRC#organizacao_social">
            &#9658; Organização Social
        </a>

        
        <a class="summary #act-amb# tx-black full m-bottom-s" href="javascript:;" title="Meio Ambiente" data-close #drop-amb#>
            Meio Ambiente
        </a>
        <ul title="Meio Ambiente" class="m-bottom-s">
            <li>
                <a href="#SRC#protecao_ambiental">Área de Proteção Ambiental</a>
            </li>
            <li>
                <a href="#SRC#praticas_agroecologicas">Práticas Agroecológicas</a>
            </li>
            <li>
                <a href="#SRC#agrobiodiversidade">Agrobiodiversidade</a>
            </li>
            <li>
                <a href="#SRC#destinacao_do_lixo">Destinação do Lixo</a>
            </li>
            <li>
                <a href="#SRC#destinacao_do_esgoto">Destinação do Esgoto</a>
            </li>
            <li>
                <a href="#SRC#captacao_da_agua">Captação da Água</a>
            </li>
        </ul>

        <a class="#act-relatorio# tx-black full m-bottom-s" href="#SRC#relatorios">
            &#9658; Relatórios
        </a>
        
        <a class="summary #act-usuario# tx-black full m-bottom-s" href="javascript:;" title="Usuários" data-close #drop-usuario#>
            Usuários
        </a>

        <ul title="Usuários" class="m-bottom-s">
            <li>
                <a href="#SRC#usuario">Novo</a>
            </li>
            <li>
                <a href="#SRC#usuario&selecionar">Selecionar</a>
            </li>
        </ul>
        
        
    </div>

</aside>