<script>
    $(function(){
        $("input[data-check]").click(function(){
            var id = $(this).attr("data-check");
            if($(this).is(':checked')){
                $("input[data-value='" + id + "']")[0].setAttribute("required", true);
            }else{
                $("input[data-value='" + id + "']").removeAttr("required").val('');
            }
            
        });
        
        $("input[data-value]").change(function(){
            var id = $(this).attr("data-value");
            if($(this).val() == ''){
                $("input[data-check='" + id + "']").removeAttr("required").removeAttr("checked");
            }else{
                
                $("input[data-check='" + id + "']")[0].setAttribute("required", true);
                $("input[data-check='" + id + "']")[0].setAttribute("checked", true);
            }
        });
        
    });
</script>
<form method="post" class="al-center grid10x8 p-b height">
    <div class="h-form flow-auto al-left">
        <div class="divider tx-normal tx-italic al-left tx-6">Acesso a políticas públicas</div>
        <div class="al-left tx-bold">
            A família acessa ou acessou algum programa social nos últimos 12 meses?
        </div>
        #mensagem#
        <br>
        <input type="hidden" name="politicas_publicas[id_beneficiario]" value="#id_beneficiario#"/>
        <input type="hidden" name="politicas_publicas[id_politicas_publicas]" value="#id_politicas_publicas#"/>
        #tipo_politicas_publicas#
        <br>
        <br>
        <h6 class="al-left">Crédito Rural</h6>
        <div class="al-left grid8x4 p">
            <div class="al-left tx-bold">
              Já acessou o PRONAF?
            </div>
            #pronaf#
        </div>
        <div class="al-left grid8x4 p">
            <div class="al-left tx-bold">
              Já fez outro financiamento?
            </div>
            #financiamento#
          </div>
    </div>
    <input type="submit" class='flex f-left m-top' name="#action#" value="#value#" />
</form>