<style>
    .w-25{
        width: 25em;
    }
</style>
<form method="post" class="al-center grid10x8 p-b height">
    <div class="h-form flow-auto al-left">
        <div class="divider tx-normal tx-italic al-left tx-6">
            <hr>
            <div>Meio Ambiente</div>
        </div>
        <h6 class="al-left p-left dp-inblock f-left">Agrobiodiversidade</h6>
        #mensagem#
        <br>
        <br>
        <input type="hidden" name="agrobiodiversidade[id_agrobiodiversidade]" value="#id_agrobiodiversidade#"/>
        <input type="hidden" name="agrobiodiversidade[id_beneficiario]" value="#id_beneficiario#"/>

        <label class="w-25" for="quantidade_hortalica">Hortaliças (Canteiros) Qtde.:</label>
        <input id="quantidade_hortalica" type="number" min="0" class="w-9" maxlength="10" name="agrobiodiversidade[quantidade_hortalica]" value="#quantidade_hortalica#" /><br><br>

        <label class="w-25" for="quantidade_frutas">Frutas (Pés de árvores) Qtde.:</label>
        <input id="quantidade_frutas" type="number" min="0" class="w-9" maxlength="10" name="agrobiodiversidade[quantidade_frutas]" value="#quantidade_frutas#" /><br><br>

        <label class="w-25" for="quantidade_medicinais">Medicinais (especies plantadas) Qtde.:</label>
        <input id="quantidade_medicinais" type="number" min="0" class="w-9" maxlength="10" name="agrobiodiversidade[quantidade_medicinais]" value="#quantidade_medicinais#" /><br><br>

        <label class="w-25" for="quantidade_temperos">Temperos/condimentos (especies plantadas) Qtde.:</label>
        <input id="quantidade_temperos" type="number" min="0" class="w-9" maxlength="10" name="agrobiodiversidade[quantidade_temperos]" value="#quantidade_temperos#" /><br><br>

        <label class="w-20">
            <span>Outras:</span>
            <input type="text" size="30" maxlength="30" name="agrobiodiversidade[outras]" value="#outras#">
        </label>
        <label class="w-5" for="quantidade_outras">
            Qtde.:
        </label>
        <input id="quantidade_outras" type="number" min="0" class="w-9" maxlength="10" name="agrobiodiversidade[quantidade_outras]" value="#quantidade_outras#" /><br><br>

    </div>
    
    <input type="submit" class='flex f-left m-top' name="#action#" value="#value#" />
</form>