<script>
    $(function(){
        $("#confirma").hide();
        $(".abre_confirma").click(function(){
            var href = $(this).attr("data-href");
            $("#delete_confirma").attr("href", href);
            $("#confirma").fadeIn();
        });
        $("#fecha_confirma").click(function(){
            $("#confirma").fadeOut();
        });
    });
</script>
<div id="confirma" class="fix top left idx-9 bg-alpha-black full fully">
    <div class="bg-white abs middle" style="width: 500px; height: 300px; margin-top: -150px; margin-left: -250px;">
        <br>
        <br>
        <br>
        <h1 class="tx-black">Atenção</h1>
        <br>
        <span class="tx-red">Deseja realmente deletar esta benfeitoria?</span><br>
        <br>
        <br>
        <a href="javascript:;" id="delete_confirma" class="p-s bg-red tx-white bx-radius-s">Sim</a>
        <a href="javascript:;" class="p-s bg-green tx-white bx-radius-s" id="fecha_confirma">Não</a>
    </div>
</div>
<form method="post" class="al-center grid10x8 p height">

    <div class="divider tx-normal tx-italic al-left tx-6">Dados da Unidade de Produção Familiar (UPF)</div>
    <h6 class="al-left">Benfeitorias</h6>
        <div class="h-13 flow-auto">
            <table class="full bg-gray">
                <thead class="bg-blue tx-white">
                    <tr>
                        <th class="p-equal-s">
                            Cod.
                        </th>
                        <th class="p-equal-s">
                            Tipo
                        </th>
                        <th class="p-equal-s">
                            Qtde.
                        </th>
                        <th class="p-equal-s">
                            Valor (R$)
                        </th>
                        <th class="p-equal-s">
                            Obs.
                        </th>
                        <th class="p-equal-s">
                            Editar
                        </th>
                        <th class="p-equal-s">
                            Deletar
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    #linhas#
                </tbody>
            </table>
        </div>

    <fieldset>
        <legend>Benfeitoria</legend>
        <table class="al-left">
            <tr>
                <td class="p grid8x4">
                    <label>
                        <input type="hidden" name="benfeitoria[id_beneficiario]" value="#id_beneficiario#">
                        <span class="w-5x2 f-left">Tipo de Benfeitoria:</span>
                        <select required class="w-5x3 f-left" name="benfeitoria[id_tipo_benfeitoria]">
                            <option value="">Selecione</option>
                            #tipo_benfeitoria#
                        </select>
                    </label>
                </td>
                <td class="p grid8x4">
                    <label>
                        <span class="w-5x2 f-left">Obs:</span>
                        <input class="w-5x3 f-left" maxlength="50" type="text" name="benfeitoria[obs_benfeitoria]" value="#obs_benfeitoria#">
                    </label>
                    
                    
                    

                </td>
            </tr>
            <tr>
                <td class="p grid8x4">
                    <label>
                        <span class="w-5x2 f-left">Quantidade:</span>
                        <input required class="w-5x3 f-left" min="1" type="number" name="benfeitoria[qtd_benfeitoria]" value="#qtd_benfeitoria#">
                    </label>
                    
                    
                </td>
                <td class="p grid8x4">
                    <label>
                        <span class="w-5x2 f-left">Medida:</span>
                        <select required class="w-5x3 f-left" name="benfeitoria[id_medida]">
                            <option value="">Selecione</option>
                            #medida#
                        </select>
                    </label>

                </td>
            </tr>
            <tr>
                <td class="p grid8x4">
                    <label>
                        <span class="w-5x2 f-left">Valor (R$):</span>
                        <input required class="w-5x3 f-left" type="text" name="benfeitoria[valor_benfeitoria]" value="#valor_benfeitoria#" placeholder="999999,99" pattern="[0-9]{3,10}(,[0-9]{2})?">
                    </label>

                </td>
                <td class="p grid8x4">

                </td>
            </tr>
        </table>
    </fieldset>

    <input type="submit" value="Salvar" name="#action#" class="flex f-left m-top-b">
    
    
    
    
    
    
    
</form>
