<script>
    $(function(){
        $("#confirma").hide();
        $(".abre_confirma").click(function(){
            var href = $(this).attr("data-href");
            $("#delete_confirma").attr("href", href);
            $("#confirma").fadeIn();
        });
        $("#fecha_confirma").click(function(){
            $("#confirma").fadeOut();
        });
    });
</script>
<div id="confirma" class="fix top left idx-9 bg-alpha-black full fully">
    <div class="bg-white abs middle" style="width: 500px; height: 300px; margin-top: -150px; margin-left: -250px;">
        <br>
        <br>
        <br>
        <h1 class="tx-black">Atenção</h1>
        <br>
        <span class="tx-red">Deseja realmente deletar esta comercialização?</span><br>
        <br>
        <br>
        <a href="javascript:;" id="delete_confirma" class="p-s bg-red tx-white bx-radius-s">Sim</a>
        <a href="javascript:;" class="p-s bg-green tx-white bx-radius-s" id="fecha_confirma">Não</a>
    </div>
</div>
<form method="post" class="al-center grid10x8 p height">

        <div class="divider tx-normal tx-italic al-left tx-6">
        <hr>
        <div>Comercialização</div>
        </div>
        <div class="h-11 flow-auto">
            <table class="full bg-gray">
                <thead class="bg-blue tx-white">
                    <tr>
                        <th class="p-equal-s">
                            Cod.
                        </th>
                        <th class="p-equal-s">
                            Produto
                        </th>
                        <th class="p-equal-s">
                            Quantidade
                        </th>
                        <th class="p-equal-s">
                            Renda Anual
                        </th>
                        <th class="p-equal-s">
                            Forma de Comercialização
                        </th>
                        <th class="p-equal-s">
                            Editar
                        </th>
                        <th class="p-equal-s">
                            Deletar
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    #linhas#
                </tbody>
            </table>
        </div>

    <fieldset>
        <table class="al-left">
            <tr>
                <td class="p">
                    <input type="hidden" name="comercializacao[id_beneficiario]" value="#id_beneficiario#">
                    <label>
                        <span class="w-5x2 p-right f-left">Produto:</span>
                        <select required class="w-5x3" name="comercializacao[produto_comercializacao]">
                            <option value="">Selecione</option>
                            #produtos#
                        </select>
                    </label>
                    
                    
                </td>
                
            </tr>
            <tr>
                <td class="p">

                    <label>
                       <span class="w-5x2 f-left">Quantidade:</span>
                       <input required class="w-5x3 f-left" type="number" min="1" name="comercializacao[qtd_comercializacao]" value="#qtd_comercializacao#">
                    </label>

                </td>
                <td class="p">

                    <label>
                        <span class="w-5x2 p-right f-left">Unidade:</span>
                        <select required class="w-5x3" name="comercializacao[id_medida]">
                            <option value="">Selecione</option>
                            #und_medidas#
                        </select>
                    </label>

                </td>
                
                
            </tr>
            <tr>
                <td class="p">
                    <label>
                        <span class="w-5x2 f-left">Renda anual:</span>
                        <input required class="w-5x3 f-left" type="text" name="comercializacao[renda_comercializacao]" value="#renda_comercializacao#" placeholder="9999999,99" pattern="[0-9]{1,7},{0,1}[0-9]{1,2}$">
                    </label>

                </td>
                <td class="p">
                    <label>
                       <span class="w-5x2 f-left">Forma de comercialização:</span>
                       <input required class="w-5x3 f-left" type="text" name="comercializacao[forma_comercializacao]" value="#forma_comercializacao#">
                    </label>
                </td>
            </tr>
        </table>
    </fieldset>

    <input type="submit" value="Salvar" name="#action#" class="flex f-left m-top-b">
</form>