<script>
    $(function(){
        $("#confirma").hide();
        $(".abre_confirma").click(function(){
            var href = $(this).attr("data-href");
            $("#delete_confirma").attr("href", href);
            $("#confirma").fadeIn();
        });
        $("#fecha_confirma").click(function(){
            $("#confirma").fadeOut();
        });
    });
</script>
<div id="confirma" class="fix top left idx-9 bg-alpha-black full fully">
    <div class="bg-white abs middle" style="width: 500px; height: 300px; margin-top: -150px; margin-left: -250px;">
        <br>
        <br>
        <br>
        <h1 class="tx-black">Atenção</h1>
        <br>
        <span class="tx-red">Deseja realmente deletar este parente?</span><br>
        <br>
        <br>
        <a href="javascript:;" id="delete_confirma" class="p-s bg-red tx-white bx-radius-s">Sim</a>
        <a href="javascript:;" class="p-s bg-green tx-white bx-radius-s" id="fecha_confirma">Não</a>
    </div>
</div>
<form method="post" class="al-center grid10x8 p height">

        <div class="divider tx-normal tx-italic al-left tx-6">Composição Familiar</div>
        <div class="h-13 flow-auto">
            <table class="full bg-gray">
                <thead class="bg-blue tx-white">
                    <tr>
                        <th class="p-equal-s">
                            Cod.
                        </th>
                        <th class="p-equal-s">
                            Nome
                        </th>
                        <th class="p-equal-s">
                            Sexo
                        </th>
                        <th class="p-equal-s">
                            Idade
                        </th>
                        <th class="p-equal-s">
                            Parentesco
                        </th>
                        <th class="p-equal-s">
                            Cpf
                        </th>
                        <th class="p-equal-s">
                            Escolaridade
                        </th>
                        <th class="p-equal-s">
                            Editar
                        </th>
                        <th class="p-equal-s">
                            Deletar
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    #linhas#
                </tbody>
            </table>
        </div>

    <fieldset>
        <legend>Parente</legend>
        <table class="al-left">
            <tr>
                <td class="p">
                    <label>
                        <input type="hidden" name="comp_familiar[id_beneficiario]" value="#id_beneficiario#">
                        <span class="w-5x2 f-left">Nome:</span>
                        <input required class="w-5x3 f-left" type="text" name="comp_familiar[nome_comp_familiar]" value="#nome_comp_familiar#">
                    </label>
                </td>
                <td class="p">

                    <span class="w-5x2 f-left">Sexo:</span>
                    <span class="w-5x3 f-left">

                        <input required class="flex" type="radio" name="comp_familiar[sexo_comp_familiar]" value="1" id="_M_0" #1#>
                        <label class="flex p-side" for="_M_0">M</label>
                        <input required class="flex" type="radio" name="comp_familiar[sexo_comp_familiar]" value="0" id="_F_0" #0#>
                        <label class="flex p-side" for="_F_0">F</label>

                    </span>

                </td>
            </tr>
            <tr>
                <td class="p">
                    <label>
                        <span class="w-5x2 p-right f-left">Idade:</span>
                        <input required class="w-5x3 f-left" type="number" min="1" name="comp_familiar[idade_comp_familiar]" value="#idade_comp_familiar#">
                    </label>
                </td>
                <td class="p">
                    <label>
                        <span class="w-5x2 p-right f-left">Parentesco:</span>
                        <select required class="w-5x3" name="comp_familiar[parentesco_comp_familiar]">
                            <option value="">Selecione</option>
                            <option #Mãe# value="Mãe">Mãe</option>
                            <option #Pai# value="Pai">Pai</option>
                            <option #Filho(a)# value="Filho(a)">Filho(a)</option>
                            <option #Tio(a)# value="Tio(a)">Tio(a)</option>
                            <option #Primo(a)# value="Primo(a)">Primo(a)</option>
                            <option #Sobrinho(a)# value="Sobrinho(a)">Sobrinho(a)</option>
                            <option #Avô# value="Avô">Avô</option>
                            <option #Avó# value="Avó">Avó</option>
                            <option #Neto(a)# value="Neto(a)">Neto(a)</option>
                            <option #Cunhado(a)# value="Cunhado(a)">Cunhado(a)</option>
                            <option #Genro# value="Genro">Genro</option>
                            <option #Nora# value="Nora">Nora</option>
                            <option #Outros# value="Outros">Outros</option>
                        </select>
                    </label>

                </td>
            </tr>
            <tr>
                <td class="p">
                    <label>
                        <span class="w-5x2 p-right f-left">CPF:</span>
                        <input required class="w-5x3" type="text" name="comp_familiar[cpf_comp_familiar]" placeholder='Somente Números' pattern='\d*' value="#cpf_comp_familiar#">
                    </label>

                </td>
                <td class="p w-5x3">

                    <label>
                        <span class="w-5x2 p-right f-left">Escolaridade:</span>
                        <span class="w-5x3 f-left">
                            #escolaridade#
                        </span>
                    </label>


                </td>
            </tr>
        </table>
    </fieldset>

    <input type="submit" value="Salvar" name="#action#" class="flex f-left m-top-b">
</form>