<article class="al-center grid10x8 p">

    <div class="h-form flow-auto al-left">
        <div class="divider tx-normal tx-italic al-left tx-6">Atenção!</div>
        <br>
        <br>
        Beneficiário ainda não criado ou selecionado.
    </div>
</article>