<script>
    $(function(){
        $("#confirma").hide();
        $(".abre_confirma").click(function(){
            var href = $(this).attr("data-href");
            $("#delete_confirma").attr("href", href);
            $("#confirma").fadeIn();
        });
        $("#fecha_confirma").click(function(){
            $("#confirma").fadeOut();
        });
    });
</script>
<div id="confirma" class="fix top left idx-9 bg-alpha-black full fully">
    <div class="bg-white abs middle" style="width: 500px; height: 300px; margin-top: -150px; margin-left: -250px;">
        <br>
        <br>
        <br>
        <h1 class="tx-black">Atenção</h1>
        <br>
        <span class="tx-red">Deseja realmente deletar este cultivo?</span><br>
        <br>
        <br>
        <a href="javascript:;" id="delete_confirma" class="p-s bg-red tx-white bx-radius-s">Sim</a>
        <a href="javascript:;" class="p-s bg-green tx-white bx-radius-s" id="fecha_confirma">Não</a>
    </div>
</div>
<form method="post" class="al-center grid10x8 p height">

        <div class="divider tx-normal tx-italic al-left tx-6">Renda Familiar</div>
        <h6 class="al-left">Cultivo Agrícola</h6>
        <div class="h-13 flow-auto">
            <table class="full bg-gray">
                <thead class="bg-blue tx-white">
                    <tr>
                        <th class="p-equal-s">
                            Cod.
                        </th>
                        <th class="p-equal-s">
                            Atividade
                        </th>
                        <th class="p-equal-s">
                            Produto
                        </th>
                        <th class="p-equal-s">
                            Produção Estimada
                        </th>
                        <th class="p-equal-s">
                            Area (Há)
                        </th>
                        <th class="p-equal-s">
                            Valor Unitário
                        </th>
                        <th class="p-equal-s">
                            Editar
                        </th>
                        <th class="p-equal-s">
                            Deletar
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    #linhas#
                </tbody>
            </table>
        </div>

    <fieldset>
        <legend>Parente</legend>
        <table class="al-left">
            <tr>
                
                
                <td class="p">

                    <label>
                        <span class="w-5x2 p-right f-left">Atividade:</span>
                        <select required class="w-5x3 f-left" name="cult_agricola[id_atividade]">
                            <option value="">Selecione</option>
                            #atividade#
                        </select>
                    </label>

                </td>
                <td class="p">
                    <label>
                        <span class="w-5x2 f-left">Produto:</span>
                        <input class="w-5x3 f-left" type="text" name="cult_agricola[produto_cult_agricola]" value="#produto_cult_agricola#">
                    </label>
                </td>
            </tr>
            
            
            <tr>
                <td class="p">
                    <label>
                        <span class="w-5x2 f-left">Produção estimada</span>
                        <input class="w-5x3 f-left" type="number" min="1" name="cult_agricola[producao_cult_agricola]" value="#producao_cult_agricola#">
                    </label>
                </td>
                <td class="p">
                    <label>
                        <span class="w-5x2 p-right f-left">Unidade de Medida:</span>
                        <select class="w-5x3 f-left" name="cult_agricola[id_medida]">
                            <option value="">Selecione</option>
                            #und_medidas#
                        </select>
                    </label>

                </td>
            </tr>
            <tr>
                <td class="p">
                    <label>
                        <input type="hidden" name="cult_agricola[id_beneficiario]" value="#id_beneficiario#">
                        <span class="w-5x2 f-left">Área (Há):</span>
                        <input class="w-5x3 f-left" type="text" name="cult_agricola[area_cult_agricola]" value="#area_cult_agricola#" pattern="[0-9]{0,10},{0,1}[0-9]{1,2}$">
                    </label>
                </td>
                <td class="p">
                    <label>
                        <span class="w-5x2 p-right f-left">Valor Unitário:</span>
                        <input class="w-5x3" type="text" name="cult_agricola[valor_unit_cult_agricola]" value="#valor_unit_cult_agricola#">
                    </label>

                </td>
                
            </tr>
        </table>
    </fieldset>

    <input type="submit" value="Salvar" name="#action#" class="flex f-left m-top-b">
</form>