<form method="post" class="al-center grid10x8 p-b height">
    <div class="h-form flow-auto al-left">
        <div class="divider tx-normal tx-italic al-left tx-6">Dados da Unidade de Produção Familiar (UPF)</div>
        #mensagem#
        <br>
        <input type="hidden" name="producao_familiar[id_producao_familiar]" value="#id_producao_familiar#"/>
        <input type="hidden" name="producao_familiar[id_beneficiario]" value="#id_beneficiario#"/>
        <label class="w-12" for="denomicacao">Denominação:</label>
        <input type="text" size="60" name="producao_familiar[denominacao_producao_familiar]" value="#denominacao_producao_familiar#" id="denomicacao" /><br><br>

        <label class="w-12" for="area_total">Área Total (Hectare)</label>
        <input required type="text" size="60" pattern="[0-9]{1,7},{0,1}[0-9]{1,2}$" name="producao_familiar[area_total_producao_familiar]" value="#area_total_producao_familiar#" id="area_total" /><br><br>

        <label class="w-12" for="endereco">Endereco</label>
        <input required type="text" size="60" name="producao_familiar[endereco_producao_familiar]" value="#endereco_producao_familiar#" id="endereco" /><br><br>

        <label class="w-12" for="municipio">Município</label>
        <input required type="text" size="60" name="producao_familiar[municipio_producao_familiar]" value="#municipio_producao_familiar#" id="municipio" /><br><br>

        <label class="w-12" for="uf">UF</label>
        <select required name="producao_familiar[id_estado_local]" id="uf">
            <option value='' style="width: 27em;">Selecione</option>
            #estados#
        </select><br><br>

        <label class="w-12" for="chacara">Chácara:</label>
        <input required type="text" size="60" name="producao_familiar[chacara_producao_familiar]" value="#chacara_producao_familiar#" id="chacara" /><br><br>

        <label class="w-12" for="cord">Cordenadas Geográficas UTM: </label>
        <input type="text" size="60" name="producao_familiar[cood_producao_familiar]" value="#cood_producao_familiar#" id="cord" /><br><br>

        <label class="w-12" for="rota">Rota de Acesso: </label>
        <textarea name="producao_familiar[rota_producao_familiar]" id="rota" cols="45" rows="5">#rota_producao_familiar#</textarea><br><br><br>

        
    </div>
    <input type="submit" class='flex f-left m-top' name="#action#" value="#value#" />
</form>