<form method="post" class="al-center grid10x8 p-b height">
    <div class="h-form flow-auto al-left">
        <div class="divider tx-normal tx-italic al-left tx-6">
            <hr>
            <div>Meio Ambiente</div>
        </div>
        <h6 class="al-left p-left dp-inblock f-left">Destinação do Esgoto</h6>
        #mensagem#
        <br>
        <input type="hidden" name="destinacao_do_esgoto[id_beneficiario]" value="#id_beneficiario#"/>
        <br>
        #tipo_destinacao_do_esgoto#
    </div>
    <input type="submit" class='flex f-left m-top' name="#action#" value="#value#" />
</form>