<script>
    $(function(){
        $("#confirma").hide();
        $(".abre_confirma").click(function(){
            var href = $(this).attr("data-href");
            $("#delete_confirma").attr("href", href);
            $("#confirma").fadeIn();
        });
        $("#fecha_confirma").click(function(){
            $("#confirma").fadeOut();
        });
    });
</script>
<div id="confirma" class="fix top left idx-9 bg-alpha-black full fully">
    <div class="bg-white abs middle" style="width: 500px; height: 300px; margin-top: -150px; margin-left: -250px;">
        <br>
        <br>
        <br>
        <h1 class="tx-black">Atenção</h1>
        <br>
        <span class="tx-red">Deseja realmente deletar este renda?</span><br>
        <br>
        <br>
        <a href="javascript:;" id="delete_confirma" class="p-s bg-red tx-white bx-radius-s">Sim</a>
        <a href="javascript:;" class="p-s bg-green tx-white bx-radius-s" id="fecha_confirma">Não</a>
    </div>
</div>
<form method="post" class="al-center grid10x8 p height">

        <div class="divider tx-normal tx-italic al-left tx-6">
        <hr>
        <div>Dados da Unidade de Produção Familiar (UPF)</div>
        </div>
        <h6 class="al-left">Renda de fora da Agricultura</h6>
        <div class="al-left tx-bold m-bottom-s">Alguém realiza alguma atividade que gera renda fora da agricultura?</div>
        <div class="h-11 flow-auto">
            <table class="full bg-gray">
                <thead class="bg-blue tx-white">
                    <tr>
                        <th class="p-equal-s">
                            Cod.
                        </th>
                        <th class="p-equal-s">
                            Nome
                        </th>
                        <th class="p-equal-s">
                            Parentesco
                        </th>
                        <th class="p-equal-s">
                            Atividade
                        </th>
                        <th class="p-equal-s">
                            Receita/ano
                        </th>
                        <th class="p-equal-s">
                            Custo/ano
                        </th>
                        <th class="p-equal-s">
                            Editar
                        </th>
                        <th class="p-equal-s">
                            Deletar
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    #linhas#
                </tbody>
            </table>
        </div>

    <fieldset>
        <legend>Renda fora da propriedade</legend>
        <table class="al-left">
            <tr>
                <td class="p">
                    <label>
                        <input type="hidden" name="renda_fda[id_beneficiario]" value="#id_beneficiario#">
                        <span class="w-5x2 f-left">Nome:</span>
                        <input required class="w-5x3 f-left" type="text" name="renda_fda[nome_renda_fda]" value="#nome_renda_fda#">
                    </label>
                </td>
                
            </tr>
            <tr>
                <td class="p">

                    <label>
                       <span class="w-5x2 f-left">Atividade:</span>
                        <input required class="w-5x3 f-left" type="text" name="renda_fda[atividade_renda_fda]" value="#atividade_renda_fda#">
                    </label>

                </td>
                <td class="p">
                    <label>
                        <span class="w-5x2 p-right f-left">Relação com a família:</span>
                        <select required class="w-5x3" name="renda_fda[parentesco_renda_fda]">
                            <option value="">Selecione</option>
                            <option #Mãe# value="Mãe">Mãe</option>
                            <option #Pai# value="Pai">Pai</option>
                            <option #Filho(a)# value="Filho(a)">Filho(a)</option>
                            <option #Tio(a)# value="Tio(a)">Tio(a)</option>
                            <option #Primo(a)# value="Primo(a)">Primo(a)</option>
                            <option #Sobrinho(a)# value="Sobrinho(a)">Sobrinho(a)</option>
                            <option #Avô# value="Avô">Avô</option>
                            <option #Avó# value="Avó">Avó</option>
                            <option #Neto(a)# value="Neto(a)">Neto(a)</option>
                            <option #Cunhado(a)# value="Cunhado(a)">Cunhado(a)</option>
                            <option #Genro# value="Genro">Genro</option>
                            <option #Nora# value="Nora">Nora</option>
                            <option #Outros# value="Outros">Outros</option>
                        </select>
                    </label>

                </td>
                
                
            </tr>
            <tr>
                <td class="p">
                    <label>
                        <span class="w-5x2 f-left">Receita/ano:</span>
                        <input required class="w-5x3 f-left" type="text" name="renda_fda[receita_renda_fda]" value="#receita_renda_fda#" placeholder="9999999,99" pattern="[0-9]{1,7},{0,1}[0-9]{1,2}$">
                    </label>
                </td>
                <td class="p">
                    <label>
                        <span class="w-5x2 f-left">Custo/ano</span>
                        <input required class="w-5x3 f-left" type="text" name="renda_fda[custo_renda_fda]" value="#custo_renda_fda#" placeholder="9999999,99" pattern="[0-9]{1,7},{0,1}[0-9]{1,2}$">
                    </label>
                </td>
            </tr>
        </table>
    </fieldset>

    <input type="submit" value="Salvar" name="#action#" class="flex f-left m-top-b">
</form>