<link rel="stylesheet" href="#SRC#css/jquery/jquery-ui.css">
<script src="#SRC#js/jquery-ui.js"></script>
<script>
    $(function(){
        $( "#date" ).datepicker(
            {
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            }
        );
        function calcula_tempo(){
            var e = ($("#anos").val() > 0 && $("#meses2").val() > 0) ? " e " : '';
            
            var anos = $("#anos").val();
            anos = (anos == '' || anos == 0) ? '' : ((anos == 1) ? anos + " ano" : anos + " anos");
            var meses = $("#meses2").val();
            meses = (meses == '' || meses == 0) ? '' : ((meses == 1) ? meses + " mês" : meses + " meses");
            
            $("#tempo_total").val(anos + e + meses);
        }
        $("#anos").bind("keyup click", calcula_tempo);
        $("#meses2").bind("keyup click", calcula_tempo);
        $("#some").hide();
        
        if($("#_19").prop("checked") == true){
            $("#some").show();
        }else{
            $("#some").hide();
        }
        
        $("#_19").click(function(){
            var checado = $("#_19").prop("checked");
            if(checado == true){
                $("#some").show();
            }else{
                $("#some").hide();
            }
        });
    });
</script>

<form method="post" action="index.php" class="al-center grid10x8 p-b height">
    <div class="h-form flow-auto">
        <div class="divider tx-normal tx-italic al-left tx-6">Dados do Beneficiário</div>

        #mensagem#

        <table class="al-left">
            <tr>
                <td class="p" style="width: 15%"><label for="_1">Nome:</label></td>
                <td class="p" style="width: 35%"><input type="hidden" id="id" name="beneficiario[id_beneficiario]" value="#id_beneficiario#"><input type="text" required maxlength="40" id="_1" name="beneficiario[nome_beneficiario]" value="#nome_beneficiario#"></td>

                <td class="p" style="width: 15%"><label for="_2">Nº da DAP:</label></td>
                <td class="p" style="width: 35%"><input type="text" id="_2" name="beneficiario[n_da_dap_beneficiario]" value="#n_da_dap_beneficiario#" maxlength="14"></td>
            </tr>
            <tr>    
                <td class="p">Situação: </td>
                <td class="p">

                    <input class="flex" id="regular" type="radio" required name="beneficiario[situacao_beneficiario]" value="1" #situacao_beneficiario1#>
                    <label for="regular" class="tx-7 w-7">&nbsp;Regular</label>

                    <input class="flex" id="irregular" type="radio" required name="beneficiario[situacao_beneficiario]" value="0" #situacao_beneficiario0#>
                    <label for="irregular" class="tx-7 w-7">&nbsp;Irreguar</label>

                </td>

                <td class="p"><label for="_4">CPF:</label></td>
                <td class="p"><input type="text" pattern="\d{11}" maxlength="11" id="_4" placeholder="Só números" name="beneficiario[cpf_beneficiario]" value="#cpf_beneficiario#"></td>
            </tr>
            <tr>    
                <td class="p"><label for="_5">RG:</label></td>
                <td class="p">
                    <input class="w-8x3 f-left" type="text" id="_5" pattern="\d*" maxlength="11" placeholder="Somente Números" name="beneficiario[rg_beneficiario]" value="#rg_beneficiario#">
                    <label class="w-8x3 f-left tx-8 al-center" for="_6">Org. Expedidor:</label>
                    <input class="w-8x2 f-left" type="text" id="_6" name="beneficiario[org_exp_beneficiario]" value="#org_exp_beneficiario#" maxlength="10">
                </td>

                <td class="p">Estado Civil:</td>

                <td class="p">
                    #estado_civil#
                </td>

            </tr>
            <tr>    
                <td class="p"><label for="date">Data de Nascimento:</label></td>
                <td class="p"><input type="text" maxlength="10" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" id="date" name="beneficiario[dt_nascimento_beneficiario]" value="#dt_nascimento_beneficiario#"></td>
                <td class="p">Núcleo:</td>

                <td class="p">
                   <select required id="_10" name="beneficiario[id_nucleo]">
                        <option value="">Selecione</option>
                        #nucleo#
                    </select> 
                </td>
            </tr>
            <tr>    
                <td class="p"><label for="_9">Naturalidade:</label></td>
                <td class="p"><input type="text" id="_9" name="beneficiario[naturalidade_beneficiario]" value="#naturalidade_beneficiario#" maxlength="40"></td>

                <td class="p"><label for="_10">UF:</label></td>
                <td class="p">
                    <select required id="_10" name="beneficiario[id_estado_local]">
                        <option value="">Selecione</option>
                        #estado_local#
                    </select>    
                </td>
                
            </tr>
            <tr>    
                <td class="p"><label for="nome_pai">Nome do Pai:</label></td>
                <td class="p">
                    <input id="nome_pai" type="text" maxlength="40" name="beneficiario[nome_do_pai_beneficiario]" value="#nome_do_pai_beneficiario#">
                </td>
                
                <td class="p"><label for="nome_mae">Nome do Mãe:</label></td>
                <td class="p">
                    <input id="nome_mae" required maxlength="40" type="text" name="beneficiario[nome_do_mae_beneficiario]" value="#nome_do_mae_beneficiario#">
                </td>
            </tr>
            <tr>    
                <td class="p">Função que<br>Exerce na Parcela:</td>
                <td class="p" colspan="3">
                    #funcoes#
                </td>
            </tr>
            <tr>    
                <td class="p"><label for="_11">Telefone:</label></td>
                <td class="p">
                    <input type="text" pattern="[0-9]{2}$" id="_11" maxlength="2" placeholder="ddd" name="beneficiario[ddd_beneficiario]" value="#ddd_beneficiario#" class="w-8x1 f-left" style="border-right: none;">
                    <input type="text" pattern="[0-9]{4,5}-?[0-9]{4}$" id="_11" maxlength="10" placeholder="99999-9999" name="beneficiario[telefone_beneficiario]" value="#telefone_beneficiario#" class="w-8x7 f-left">

                </td>

                <td class="p"><label for="_12">Sexo:</label></td>
                <td class="p">

                    <input class="flex" type="radio" required id="m" value="1" name="beneficiario[sexo_beneficiario]" #sexo_beneficiario1#>
                    <label class="w-7 tx-7" for="m">Masculino</label>
                    <input class="flex" type="radio" required id="f" value="0" name="beneficiario[sexo_beneficiario]" #sexo_beneficiario0#>
                    <label class="w-7 tx-7" for="f">Feminino</label>
                </td>
            </tr>
            <tr>    
                <td class="p">Período de Ausência:</td>
                <td class="p">
                    <input class="flex" id="meses" type="radio" required value="1" name="beneficiario[perid_ausencia_beneficiario]" #perid_ausencia_beneficiario1#>
                    <label class="w-7 tx-7" for="meses">&nbsp;Meses</label>
                    <input class="flex" id="dias" type="radio" required value="0" name="beneficiario[perid_ausencia_beneficiario]" #perid_ausencia_beneficiario0#>
                    <label class="w-7 tx-7" for="dias">&nbsp;Dias</label>
                </td>

                <td class="p">Presente:</td>
                <td class="p">
                    <input class="flex" id="presente" type="radio" required value="1" name="beneficiario[presente_beneficiario]" #presente_beneficiario1#>
                    <label class="w-7 tx-7" for="presente">&nbsp;Sim</label>
                    <input class="flex" id="ausente" type="radio" required value="0" name="beneficiario[presente_beneficiario]" #presente_beneficiario0#>
                    <label class="w-7 tx-7" for="ausente">&nbsp;Não</label>
                </td>
            </tr>
            <tr>    
                <td class="p">Escolaridade:</td>
                <td class="p">
                    #escolaridade#
                </td>
                <td class="p"><label for="_16">RB:</label></td>
                <td class="p">
                    <input type="text" id="_16" maxlength="14" value="#rb_beneficiario#" name="beneficiario[rb_beneficiario]" > 
                </td>
            </tr>     
            <tr>    
                <td class="p">Inscrito na relação de beneficiário:</td>
                <td class="p">
                    <div>
                        <input class="flex" id="inscrito" type="radio" required value="1" name="beneficiario[insc_rel_beneficiario]" #insc_rel_beneficiario1#><label class="w-7" for="inscrito">&nbsp;Sim</label>
                    </div>
                    <div>
                        <input class="flex" id="n_inscrito" type="radio" required value="0" name="beneficiario[insc_rel_beneficiario]" #insc_rel_beneficiario0#><label class="w-7" for="n_inscrito">&nbsp;Não</label>
                    </div>
                </td>

                <td class="p">Forma que adquiriu a parcela:</td>
                <td class="p">
                    #form_adq_parcela#
                </td>
            </tr>
            <tr>    
                <td class="p"><label for="_19" class="flex">Troca<br>Permuta&nbsp;</label><input class="flex" type="checkbox" id="_19" name="troca_permuta" #troca_permuta#></td>
                <td class="p"><span id="some"><label for="_20" class="flex">Valor:&nbsp;</label><input class="flex" type="text" pattern="[0-9]{1,7},{0,1}[0-9]{1,2}$" id="_20" placeholder="9999999,99" value="#vlr_troca_perm_beneficiario#" name="beneficiario[vlr_troca_perm_beneficiario]"></span></td>

                <td class="p">Motivo da Ausência:</td>
                <td class="p">
                    #motiv_ausencia#
                </td>
            </tr>
            <tr>    
                <td class="p">Tipo de Construção:</td>
                <td class="p">
                    #tipo_construcao#
                </td>

                <td class="p">Tempo de Residência no P.A.:</td>
                <td class="p">
                    <label for="anos" class="flex tx-7">Anos:</label>
                    <input name="beneficiario[anos]" class="w-4" required type="number" min="0" id="anos" value="#anos#">
                    <label for="meses2" class="flex tx-7">Meses:</label>
                    <input name="beneficiario[meses]" class="w-4" required id="meses2" min="0" type="number" value="#meses#">
                    <input readonly type="text" class="flex bdr-none no-p m-top-s" id="tempo_total" value="#temp_res_beneficiario#" name="beneficiario[temp_res_beneficiario]">
                </td>
            </tr>
        </table>
    </div>
    <input class="flex f-left m-top-s"  type="submit" value="#nome_act#" name="#act#">
</form>