<form method="post" class="al-center" style="height: 41.9em;">
    <br>
    <br>
    <br>
    <figure class="grid5x1 al-center bg-white p f-none">
        <br>
        <img class="f-none" src="#IMG#logo/iaso.png" width="200">
        <br>
        <br>
    </figure>
    <br>
    <br>
    <h5>Questionário Sócio Econômico</h5>
    <br>
    <br>
    <fieldset class="grid5x1 p f-none">
        <legend>Login</legend>
        <table>
            <tr>
                <td class="p"><label for="login">Login:</label></td>
                <td class="p"><input id="login" type="text" name="login_usuario" class="al-center" placeholder="Técnico"></td>
            </tr>
            <tr>
                <td class="p"><label for="pass">Senha:</label></td>
                <td class="p"><input id="pass" type="password" name="senha_usuario" class="al-center" placeholder="Senha"></td>
            </tr>
            <tr>
                <td class="p">&nbsp;</td>
                <td class="p">
                    #tela#&nbsp;<input class="grid8x4 f-right al-center" type="submit" name="enviar" value="Entrar">
                </td>
            </tr>
        </table>
    </fieldset>
</form>