<script>
    $(function(){
        $("#confirma").hide();
        $(".abre_confirma").click(function(){
            var href = $(this).attr("data-href");
            $("#delete_confirma").attr("href", href);
            $("#confirma").fadeIn();
        });
        $("#fecha_confirma").click(function(){
            $("#confirma").fadeOut();
        });
    });
</script>
<div id="confirma" class="fix top left idx-9 bg-alpha-black full fully">
    <div class="bg-white abs middle" style="width: 500px; height: 300px; margin-top: -150px; margin-left: -250px;">
        <br>
        <br>
        <br>
        <h1 class="tx-black">Atenção</h1>
        <br>
        <span class="tx-red">Deseja realmente deletar este equipamento?</span><br>
        <br>
        <br>
        <a href="javascript:;" id="delete_confirma" class="p-s bg-red tx-white bx-radius-s">Sim</a>
        <a href="javascript:;" class="p-s bg-green tx-white bx-radius-s" id="fecha_confirma">Não</a>
    </div>
</div>
<form method="post" class="al-center grid10x8 p height">

        <div class="divider tx-normal tx-italic al-left tx-6">Dados da Unidade de Produção Familiar (UPF)</div>
        <h6 class="al-left">Máquinas, Equipamentos de Trabalho</h6>
        <div class="h-13 flow-auto">
            <table class="full bg-gray">
                <thead class="bg-blue tx-white">
                    <tr>
                        <th class="p-equal-s">
                            Cod.
                        </th>
                        <th class="p-equal-s">
                            Especificação
                        </th>
                        <th class="p-equal-s">
                            Qtde.
                        </th>
                        <th class="p-equal-s">
                            Capacidade
                        </th>
                        <th class="p-equal-s">
                            Potência
                        </th>
                        <th class="p-equal-s">
                            Editar
                        </th>
                        <th class="p-equal-s">
                            Deletar
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    #linhas#
                </tbody>
            </table>
        </div>

    <fieldset>
        <legend>Equipamento</legend>
        <table class="al-left">
            <tr>
                <td class="p">
                    <input type="hidden" name="mq_eq_tr[id_beneficiario]" value="#id_beneficiario#">
                    <label>
                        <span class="w-5x2 f-left">Especificação:</span>
                        <input class="w-5x3 f-left" required maxlength="50" type="text" name="mq_eq_tr[especificacao_mq_eq_tr]" value="#especificacao_mq_eq_tr#">
                    </label>
                </td>
                <td class="p">
                    <label>
                        <span class="w-5x2 f-left">Quantidade:</span>
                        <input class="w-5x3 f-left" required maxlength="50" min="1" type="number" name="mq_eq_tr[qtd_mq_eq_tr]" value="#qtd_mq_eq_tr#">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="p">
                    <label>
                        <span class="w-5x2 f-left">Capacidade:</span>
                        <input class="w-5x3 f-left" required maxlength="50" min="1" type="number" name="mq_eq_tr[capacidade_mq_eq_tr]" value="#capacidade_mq_eq_tr#">
                    </label>
                </td>
                <td class="p">
                    <label>
                        <span class="w-5x2 f-left">Medida (Capacidade):</span>
                        <select required class="w-5x3 f-left" name="mq_eq_tr[id_medida]">
                            <option value="">Selecione</option>
                            #medida#
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                
                <td class="p">
                    <label>
                        <span class="w-5x2 f-left">Potência:</span>
                        <input class="w-5x3 f-left" required maxlength="50" type="number" min="1" name="mq_eq_tr[potencia_mq_eq_tr]" value="#potencia_mq_eq_tr#">
                    </label>
                </td>
                <td class="p">
                    <label>
                        <span class="w-5x2 f-left">Medida (Potência):</span>
                        <select required class="w-5x3 f-left" name="mq_eq_tr[id_potencia]">
                            <option value="">Selecione</option>
                            #potencia#
                        </select>
                    </label>
                </td>
            </tr>
            
            
            
        </table>
        
        
    </fieldset>

    <input type="submit" value="Salvar" name="#action#" class="flex f-left m-top-b">

</form>
