<form method="post" class="al-center grid10x8 p-b height">
    <div class="h-form flow-auto al-left">
        <div class="divider tx-normal tx-italic al-left tx-6">Organização Social</div>
        <div class="al-left tx-bold">
            Participa de alguma organização coletiva?
        </div>
        #mensagem#
        <br>
        <input type="hidden" name="organizacao_social[id_beneficiario]" value="#id_beneficiario#"/>
        #tipo_organizacao_social#
    </div>
    <input type="submit" class='flex f-left m-top' name="#action#" value="#value#" />
</form>