<form method="post" class="al-center grid10x8 p-b height">
    <div class="h-form flow-auto al-left">
        <div class="divider tx-normal tx-italic al-left tx-6">
            <hr>
            <div>Meio Ambiente</div>
        </div>
        <h6 class="al-left p-left dp-inblock f-left">Áreas de Proteção Ambiental </h6>
        <small class="tx-black f-left m-top-s p-left-b">*Degradada ou Conservada</small>
        #mensagem#
        <br>
        <input type="hidden" name="protecao_ambiental[id_protecao_ambiental]" value="#id_protecao_ambiental#"/>
        <input type="hidden" name="protecao_ambiental[id_beneficiario]" value="#id_beneficiario#"/>

        <fieldset>
            <legend>Reserva Legal</legend>
            <label class="w-16" for="medida_reserva">Medida (há):</label>
            <input id="medida_reserva" type="text" size="10" maxlength="10" name="protecao_ambiental[medida_reserva]" value="#medida_reserva#" placeholder="9999999,99" pattern="[0-9]{0,7},{0,1}[0-9]{1,2}$"/><br><br>
            
            <span class="w-16">Utiliza estas áreas para produção?</span>
            <label><input required type="radio" name="protecao_ambiental[utilizacao_reserva]" value="S" #Sutilizacao_reserva#/><span> Sim</span></label>
            <label><input required type="radio" name="protecao_ambiental[utilizacao_reserva]" value="N" #Nutilizacao_reserva#/><span> Não</span></label>
            <label class="w-4 p-left-b" for="utilizacao_reserva_obs">Obs.:</label>
            <input id="utilizacao_reserva_obs" type="text" size="40" maxlength="40" name="protecao_ambiental[utilizacao_reserva_obs]" value="#utilizacao_reserva_obs#" /><br><br>

            <label class="w-16" for="estado_reserva">Estado de Conservação</label>
            <input id="estado_reserva" type="text" size="40" maxlength="40" name="protecao_ambiental[estado_reserva]" value="#estado_reserva#" />
        </fieldset>
        
        <fieldset>
            <legend>APPs</legend>
            <label class="w-16" for="medida_apps">Medida (há):</label>
            <input id="medida_apps" type="text" size="10" maxlength="10" name="protecao_ambiental[medida_apps]" value="#medida_apps#" placeholder="9999999,99" pattern="[0-9]{0,7},{0,1}[0-9]{1,2}$"/><br><br>

            <span class="w-16">Utiliza estas áreas para produção?</span>
            <label><input required type="radio" name="protecao_ambiental[utilizacao_apps]" value="S" #Sutilizacao_apps#/><span> Sim</span></label>
            <label><input required type="radio" name="protecao_ambiental[utilizacao_apps]" value="N" #Nutilizacao_apps#/><span> Não</span></label>
            <label class="w-4 p-left-b" for="utilizacao_apps_obs">Obs.:</label>
            <input id="utilizacao_apps_obs" type="text" size="40" maxlength="40" name="protecao_ambiental[utilizacao_apps_obs]" value="#utilizacao_apps_obs#" /><br><br>

            <label class="w-16" for="estado_apps">Estado de Conservação</label>
            <input id="estado_apps" type="text" size="40" maxlength="40" name="protecao_ambiental[estado_apps]" value="#estado_apps#" />
        </fieldset>
        
    </div>
    
    <input type="submit" class='flex f-left m-top' name="#action#" value="#value#" />
</form>