<script>
    $(function(){
        $("#confirma").hide();
        $(".abre_confirma").click(function(){
            var href = $(this).attr("data-href");
            $("#delete_confirma").attr("href", href);
            $("#confirma").fadeIn();
        });
        $("#fecha_confirma").click(function(){
            $("#confirma").fadeOut();
        });
    });
</script>
<div id="confirma" class="fix top left idx-9 bg-alpha-black full fully">
    <div class="bg-white abs middle" style="width: 500px; height: 300px; margin-top: -150px; margin-left: -250px;">
        <br>
        <br>
        <br>
        <h1 class="tx-black">Atenção</h1>
        <br>
        <span class="tx-red">Deseja realmente deletar este relatorio?</span><br>
        <br>
        <br>
        <a href="javascript:;" id="delete_confirma" class="p-s bg-red tx-white bx-radius-s">Sim</a>
        <a href="javascript:;" class="p-s bg-green tx-white bx-radius-s" id="fecha_confirma">Não</a>
    </div>
</div>
<form enctype="multipart/form-data" method="post" class="al-center grid10x8 p height">

        <div class="divider tx-normal tx-italic al-left tx-6">Relatório</div>
        <div class="h-13 flow-auto">
            <table class="full bg-gray">
                <thead class="bg-blue tx-white">
                    <tr>
                        <th class="p-equal-s">
                            Cod.
                        </th>
                        <th class="p-equal-s">
                            Relatório
                        </th>
                        <th class="p-equal-s">
                            Arquivo
                        </th>
                        <th class="p-equal-s">
                            Alterar
                        </th>
                        <th class="p-equal-s">
                            Deletar
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    #linhas#
                </tbody>
            </table>
        </div>

    <fieldset class="al-left">
        <legend>Relatório Final</legend>
        <textarea name="relatorio[relatorio]" cols="50" rows="5">#relatorio#</textarea><br><br>
        <input type="hidden" name="relatorio[id_beneficiario]" value="#id_beneficiario#">
        #id_relatorio#
        #arquivo_relatorio#
    </fieldset>

    <input type="submit" value="Salvar" name="#action#" class="flex f-left m-top-b">
</form>